
.cart{
    margin-top: 20px;
}
.cart h3, h5{
    text-align: center;
}
.cart p{
    font-size: 15px;
    /* margin-top: 0;
    padding-top: 0; */
}
.cart p span{
    color: black;
    font-size: 15px;
}
#total {
    font-size: 20px;
    font-weight: bold;
    color: #B12704;
}
.id1{
    margin-left: 40%;
}
.id2{
    margin-left: 26%;
}
.id3{
    margin-left: 34%;
}
.id4{
    margin-left: 37%;
}
.id5{
    margin-left: 32%;
}